# These are explicitly windows files and should use crlf
*.bat      text eol=crlf
*.cmd      text eol=crlf
# For everything else, use LF
# Disabled because it corrupts zip files
#*          text eol=lf
*.ipynb filter=nbstrip_full